# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Python specific files and directories

# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
*.egg
parts/
sdist/
var/
wheels/
*.whl

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Coverage reports
.coverage
.coverage.*
htmlcov/
.nox/
.tox/

# Editor/IDE-specific files (common examples)
.vscode/        # VS Code
.idea/          # PyCharm/IntelliJ
*.swp           # Vim swap files

